.base-containerAddTutorial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  background-color: #2d2e2d;
}

.contentAddTutorial {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.registerAddTutorial {
  color: white;
  transition: 300ms;
  &:hover {
    color: #f0c151;
  }
}
.navAddTutorial {
  text-decoration: none;
}
